{% extends 'base.html' %}
{% block title %}{{super()}}Home{% endblock %}
{% block content %}
    {{super()}}
    <header><h1>{{name}}'s Notes</h1></header>

    
    <ol>
        {% for title,note,id in notes %}
            <li><h3>{{title|capitalize_title}}</h3>
                <p style="white-space: pre-line;">{{ note }}</p><button onclick="deleteNote({{id}})">Remove</button>

            </li>
            {% else %}
                <h3>NO NOTES!!</h3> 
        {% endfor %}
    </ol>
    <button ><a href="{{url_for('notes.add_note')}}" id='add_link'style="text-decoration: none;">Add Note</a></button>
    {% if  notes  %}
        <button><a href="{{url_for('notes.download')}}" id="download_link" style="text-decoration: none;">Download as JSON file</a></button>
    {% endif %}
    <button ><a href="{{url_for('core.logout')}}" id='add_link' style="text-decoration: none;">Logout</a></button>
    
    <script type="text/javascript">
        async function deleteNote(id){
            try{
                let response = await fetch(`http://127.0.0.1:5000/notes/remove/${id}`,{method:'DELETE'})
                if (response.ok){
                    alert('removed note')
                    window.location.reload()
                    
                }
            }
            catch(err){
                alert('Something went wrong during removing')
            }
        }
    </script>
    
    

      
{% endblock %}