<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title-{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <main>{% block content %}
        {% with message=get_flashed_messages() %}
        {% if message %}
            <h3>{{message[0]}}!!</h3>
            
        {% endif %}
    {% endwith %}    
    {% endblock %}</main>
    <footer></footer>
        {% block javascript %}
            
        {% endblock javascript %}
</body>
</html>