{% extends 'base.html' %}
{% block title %}{{super()}}Home{% endblock %}
{% block content %}
    <button id="post_req">Send Post Req</button>
    <ol>
        {% for note,title in notes %}
            <li><h3>{{title|capitalize_title}}</h3>
                <p>{{note}}</p>
            </li>
            {% else %}
                <h3>NO NOTES!!</h3>
        {% endfor %}
    </ol>
    
    <button ><a href="{{url_for('add_note')}}" id='add_link'style="text-decoration: none;">Add Note</a></button>
    {% if  notes  %}
        <button><a href="{{url_for('download')}}" id="download_link" style="text-decoration: none;">Download as JSON file</a></button>
    {% endif %}
    {% block javascript %}
         
    {% endblock javascript %}    
{% endblock %}